/UnityDebuggingBug/.vs/UnityDebuggingBug/v14/*.suo
/UnityDebuggingBug/Library
/nativeplugin/.vs
/nativeplugin/nativeplugin.VC.db
/nativeplugin/x64
/nativeplugin/Debug
/nativeplugin/nativeplugin/Debug
/nativeplugin/nativeplugin/x64
/UnityEditorQuitBug/UnityEditorQuitBug.sln
/UnityEditorQuitBug/Library
/UnityEditorQuitBug/Temp
/UnityEditorQuitBug/UnityDebuggingBug.CSharp.Plugins.csproj
/UnityEditorQuitBug/UnityDebuggingBug.Plugins.csproj
/UnityEditorQuitBug/UnityDebuggingBug.sln
/UnityEditorQuitBug/UnityEditorQuitBug.Plugins.csproj
/UnityEditorQuitBug/.vs
/nativeplugin/nativeplugin/nativeplugin.vcxproj.user
