/UnityDebuggingBug/.vs/UnityDebuggingBug/v14/*.suo
/UnityDebuggingBug/Library
/nativeplugin/.vs
/nativeplugin/nativeplugin.VC.db
/nativeplugin/x64
/nativeplugin/Debug
/nativeplugin/nativeplugin/Debug
/nativeplugin/nativeplugin/x64
